

h1 {
    position: fixed;
    left: 145px;
}

#ref {
    position: fixed;
    top: 670px;
    left: 10%;
   
}

button {
    background-color: whitesmoke;
    width: 55px;
    height: 40px;
}

#oct {
    position: fixed;
    top: 230px;
    left: 100px;
}

#dec {
    position: fixed;
    top: 280px;
    left: 100px;
}

#bin {
    position: fixed;
    top: 330px;
    left: 100px;
}

#hex {
    position: fixed;
    top: 373px;
    left: 100px;
}

#dOct {
    position: fixed;
    top: 182px;
    left: 100px;
}

#dDec {
    position: fixed;
    top: 232px;
    left: 100px;
}

#dBin {
    position: fixed;
    top: 282px;
    left: 100px;
}

#dHex {
    position: fixed;
    top: 332px;
    left: 100px;
}

#basesDivO, #basesDivB, #basesDivD, #basesDivH {
    width: 195px;
    height: 42px;
    position: fixed;
    left: 352px;
    text-align: right;
    font: sans-serif;
    font-size: 22px;
}

#basesDivO {
    position: fixed;
    top: 215px;
    
}

#basesDivD {
    position: fixed;
    top: 265px;
}

#basesDivB {
    position: fixed;
    top: 315px;
   
}

#basesDivH {
    position: fixed;
    top: 365px;
   
}

#sıfır {
    position: fixed;
    top: 630px;
    left: 270px;
}

#bir {
    position: fixed;
    top: 580px;
    left: 200px;
}

#iki {
    position: fixed;
    top: 580px;
    left: 270px;
}

#uc {
    position: fixed;
    top: 580px;
    left: 340px;
}

#dort {
    position: fixed;
    top: 530px;
    left: 200px;
}

#bes {
    position: fixed;
    top: 530px;
    left: 270px;
}

#alti {
    position: fixed;
    top: 530px;
    left: 340px;
}

#yedi {
    position: fixed;
    top: 480px;
    left: 200px;
}

#sekiz {
    position: fixed;
    top: 480px;
    left: 270px;
}

#dokuz {
    position: fixed;
    top: 480px;
    left: 340px;
}

#A {
    position: fixed;
    top: 430px;
    left: 130px;
}
#B {
    position: fixed;
    top: 480px;
    left: 130px;
}

#C {
    position: fixed;
    top: 530px;
    left: 130px;
}

#D {
    position: fixed;
    top: 580px;
    left: 130px;
}

#E {
    position: fixed;
    top: 630px;
    left: 130px;
}

#F {
    position: fixed;
    top: 680px;
    left: 130px;
}

#parantezAc {
    position: fixed;
    top: 430px;
    left: 480px;
}

#parantezKapa {
    position: fixed;
    top: 480px;
    left: 480px;
}

#silme {
    position: fixed;
    top: 580px;
    left: 410px;
}

#tekteksilme {
    position: fixed;
    top: 530px;
    left: 410px;
}

#esittir {
    position: fixed;
    top: 630px;
    left: 410px;
}

#topla {
    position: fixed;
    top: 430px;
    left: 200px;
}

#bol {
    position: fixed;
    top: 430px;
    left: 410px;
}

#cikar {
    position: fixed;
    top: 430px;
    left: 270px;
}

#carp {
    position: fixed;
    top: 430px;
    left: 340px;
}

#mod {
    position: fixed;
    top: 480px;
    left: 410px;
}

#yazılan {
    position: fixed;
    top: 120px;
    left: 150px;
    background-color: teal;
    font: sans-serif;
    font-size: 30px;
    text-align: right;
    border: none;
    color: white;
    height: 48px;
    width: 400px;
}
